# # Dependencies
node_modules
# # Next.js
.next
# out
# dist
# build

# # Testing
# coverage
# .nyc_output

# # Misc
# .DS_Store
# *.pem

# # Debug
# *.log
# *.log.*

# # Local env files
# .env
# .env.local
# .env.development
# .env.development.local
# .env.test.local
# .env.production.local

# # Vercel
# .vercel

# # Typescript
# *.tsbuildinfo

# # Git
# .git
# .gitignore
# .github

# # IDE
# .vscode
# .idea
# *.swp
# *.swo
# *~

# # Docker
# Dockerfile
# .dockerignore
# docker-compose*.yml

# # Documentation
# README.md
# docs

# # CI/CD
# .gitlab-ci.yml
# .travis.yml
# azure-pipelines.yml
