.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
}

.mySwiperGallery2 {
  height: 80%;
  width: 100%;
}

.mySwiperGallery {
  height: 20% !important;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiperGallery .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiperGallery .swiper-slide-thumb-active {
  border: 2px solid #1b75bc;
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  /* background-color: #1b75bc; */
  color: black !important;
  border-radius: 50%;
  padding: 25px;
  &:after {
    position: relative;
    left: -1px;
    font-size: 20px !important;
  }
}
